DB_NAME=YOUR_DB_NAME
DB_USER=YOUR_DB_USER
DB_PASSWORD=YOUR_DB_PASSWORD
DB_HOST=YOUR_DB_HOST
DB_PORT=5432
DB_SSLMODE=require

GOOGLE_API_KEY=YOUR_GOOGLE_MAPS_API_KEY

POLL_INTERVAL_MINUTES=1

DISTANCE_UPDATER_MAX_WORKERS=16
